.cabeçalho {
    background-color: #424e61;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem{
width: 15%;
}
  
.cabeçalho-imagem-item{
    display:  inline-block;
}